.form_page {
  background: url(/images/tea_busy.jpg) no-repeat center center fixed;
  background-size: cover;
}

.form_area {
  max-width: 500px;
  padding: 30px;
  border: 2px solid $c-dark_gray;
  border-radius: 2px;
  margin: 0 auto 60px auto;
  background: rgba($c-gray, .8);
}