.home_page {
  background: url(/images/forest_guy.jpg) no-repeat center center fixed;
  background-size: cover;
}

.home-wrapper {
  max-width: 900px;
  padding: 30px;
  border: 2px solid $c-dark_gray;
  border-radius: 2px;
  margin: 0 auto 60px auto;
  background: rgba($c-gray, .8);
  overflow-x: auto;
  text-align: center;

  h1 {
    font-size: 2em;
  }

  p {
    margin-bottom: 40px;
    font-style: italic;
    line-height: 1.5;
  }
}

.job_page {
  background-image: url(/images/worktable.jpg);
}

.job-wrapper {
  max-width: 900px;
  padding: 30px;
  border: 2px solid $c-dark_gray;
  border-radius: 2px;
  margin: 0 auto 60px auto;
  background: rgba($c-gray, .8);
  overflow-x: auto;
}

.home-actions {
  padding: 40px;
  margin: 0 -30px -30px -30px;
  background: $c-green;
}

.home-actions-signin {
  display: inline-block;
  width: 40%;
  padding: 30px 20px;
  margin-right: 30px;
  font-size: 1.8em;
  background: $c-white;
  color: $c-dark_gray;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: rgba($c-white, .8);
    border-color: transparent;
  }
}

.home-actions-dashboard {
  display: inline-block;
  width: 40%;
  padding: 30px 20px;
  font-size: 1.8em;
  background: $c-dark_green;
  color: $c-white;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: rgba($c-dark_green, .8);
    border-color: transparent;
  }
}