//  apply a natural box layout model to all elements  for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box; 
}

body {
  padding-top: 60px;
  background: url(/images/forest_guy.jpg) no-repeat center center fixed $c-gray;
  background-size: cover;
  color: $c-dark_gray;
  font-family: $f-sans;
  line-height: 1.2;
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: .15em;
}

a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: $c-blue;
  text-decoration: none;
  outline: 0;
  transition: border-color .2s ease-in-out;

  &:hover {
    border-color: $c-blue;
  }
}

p {
  margin-bottom: 20px;
}