.main_content {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto 30px auto;
}

.form_tile-input-area {
  margin-bottom: 30px;
}

.form_tile-input-area--checkbox {
  margin-bottom: 30px;

  label {
    margin-bottom: 0;    
  }

  input {
    margin-right: 10px;
  }
}

