.alert, .notice {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border: 1px solid $c-dark_green;
  background: $c-gray;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;

  animation-duration: 10s;
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.alert {
  background: $c-orange;
}

.main_content {
  padding: 0 30px;
}

.site-link {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}

.negatory {
  padding: 50px 0;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
}

// Animations
@keyframes fadeOut {
  0% {
    opacity: 1;
    left: 50%;
  }

  99.9% {
    left: 50%;
    opacity: 0;
  }

  100% {
    left: -9999em;
    opacity: 0;
  }
}