table {
  width: 100%;
  margin-bottom: 10px;
  font-size: .9em;
}

th {
  vertical-align: top;
  padding: 10px;
  text-align: left;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  vertical-align: top;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) td {
  background: darken($c-gray, 4%);
}

tr:nth-child(odd) td {
  background: lighten($c-gray, 3%);
}

// Cell specifics
.table-date {
  width: 110px;
  font-size: .8em;
  font-weight: bold;
}

td.table-date {
  line-height: 17px;
}

.table-url {
  width: 75px;
  overflow: hidden;

  @include bp(papa-bear) {
    width: 150px;
  }
}

.table-applied {
  text-align: center;
}

.table-icon .site-icon {
  font-size: .9em;
  opacity: 0;
  transition: opacity .2s ease-in-out;

  tr:hover & {
    opacity: 1;
  }
}

.table-url-link_wrapper {
  display: inline-block;
  width: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .9em;

  @include bp(papa-bear) {
    width: 125px;
  }
}

.table-true {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto;
  background: rgba($c-green, .7);
}

.table-false {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba($c-orange, .7);
}

.table-boolean, .table-count {
  width: 80px;
  text-align: center;
  font-weight: bold;
  font-size: .8em;
}

.table-desc {
  min-width: 100px;

  @include bp(papa-bear) {
    min-width: 150px;
  }
}