table {
  width: 100%;
  margin-bottom: 10px;
  font-size: .9em;
}

th {
  vertical-align: top;
  padding: 10px;
  text-align: left;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  vertical-align: top;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) td {
  background: darken($c-gray, 4%);
}

tr:nth-child(odd) td {
  background: lighten($c-gray, 3%);
}

// Cell specifics
.table-date {
  @include bp(mama-bear) {
    font-size: .8em;
    font-weight: bold;
    width: 110px;
  }
}

td.table-date {
  line-height: 17px;
}

.table-icon .site-icon {
  font-size: .9em;

  @include bp(mama-bear) {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    tr:hover & {
      opacity: 1;
    }
  }
}

.table-url-link_wrapper {
  display: inline-block;
  font-size: .9em;

  @include bp(mama-bear) {
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include bp(mama-bear) {
  .table-desc {
    min-width: 150px;
  }

  .table-applied, .table-interview {
    text-align: center;
  }

  .table-url {
    width: 150px;
    overflow: hidden;
  }
}

// Used for the mobile tables. too many to override so isolating it in a max-width is premium
@include bp(mobile-table) {
  thead {
    display: none;
  }

  td {
    display: block;
    width: 100%;
  }

  .table-notes {
    display: none;
  }

  @include mobile-table-label('title');
  @include mobile-table-label('company_name', 'company');
  @include mobile-table-label('url');
  @include mobile-table-label('applied', 'applied?');
  @include mobile-table-label('interview', 'interview?');
  @include mobile-table-label('icon', 'edit');
  @include mobile-table-label('date');
  @include mobile-table-label('location');
  @include mobile-table-label('thanks', 'thanks sent?');
}