// Typography
$f-sans: "open_sans", "Arial", "Helvetica", sans-serif;

// Colors
$c-white: #fff;
$c-green: #4cc587;
$c-dark_green: #32494e;
$c-gray: #e7f0ee;
$c-dark_gray: #46465f;
$c-orange: #db704c;
$c-blue: #516c9a;

// Functional name for colors 
$c-form-border: $c-green;
$c-input_borders: #cecece;