/ IE6-10
link rel="shortcut icon" href="/images/favicons/favicon.ico"

/ Everybody else
link rel="icon" href="/images/favicons/favicon.ico"
link rel="icon" href="/images/favicons/favicon-16.png" sizes="16x16"
link rel="icon" href="/images/favicons/favicon-32.png" sizes="32x32"
link rel="icon" href="/images/favicons/favicon-96.png" sizes="96x96"
link rel="icon" href="/images/favicons/favicon-160.png" sizes="160x160"
link rel="icon" href="/images/favicons/favicon-196.png" sizes="196x196"

/ For iPad with high-resolution Retina display running iOS ≥ 7:
link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/favicon-152.png"

/ For iPad with high-resolution Retina display running iOS ≤ 6:
link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/favicon-144.png"

/ For iPhone with high-resolution Retina display running iOS ≥ 7:
link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/favicon-120.png"

/ For iPhone with high-resolution Retina display running iOS ≤ 6:
link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/favicon-114.png"

/ For the iPad mini and the first- and second-generation iPad on iOS ≥ 7:
link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/favicon-76.png"

/ For the iPad mini and the first- and second-generation iPad on iOS ≤ 6:
link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/favicon-72.png"

/ For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
link rel="apple-touch-icon" href="/images/favicon-152.png"

/ Win8 tile
meta name="msapplication-TileImage" content="/images/favicons/favicon-144.png"
meta name="msapplication-TileColor" content="#7d9c61"
meta name="application-name" content="#{app_name}"

/ IE11 tiles
meta name="msapplication-square70x70logo" content="/images/favicons/favicon-70.png"
meta name="msapplication-square150x150logo" content="/images/favicons/favicon-150.png"
meta name="msapplication-wide310x150logo" content="/images/favicons/favicon-310x150.png"
meta name="msapplication-square310x310logo" content="/images/favicons/favicon-310.png"